<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por:
</p>
<p>
    Marina Alonso Mozo
</p>
<img src="/images/marina.png" />
<p>
    Daniel Suárez Souto
</p>
<img src="/images/dani.jpg" />
<p>
    <a href="https://github.com/dsuarezsouto/quiz_2017">Visita nuestro repositorio</a>
</p>

