<h1>Ayuda</h1>

<p>
   <strong>Qué es un Quiz?</strong>
</p>
<p>
   Se trata de una prueba rápida que es usada con mucha frecuencia en las escuelas, son pruebas pequeñas, pero que pueden ser esenciales para poder preparar a los estudiantes para las pruebas más grandes y con mayor grado de dificultad, en muchos casos tienen forma de juego de trivia, donde se debe seleccionar una respuesta entre varias opciones para cada pregunta, aunque también puede considerarse Quiz a las competiciones donde los participantes deben responder preguntas rápidamente.
</p>

<p>
    <strong>Cómo se responden?</strong>
</p>

<p>
    Solo debes introducir la respuesta en el cuadro de texto y pulsar validar.
</p>
<p>
    <strong>Objetivo</strong>
</p>

<p>
   El objetivo de este portal es dar a conocer este tipo de tests de una manera interactiva y amena.
</p>